video-subscribers {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

.OT_publisher {
  border-radius: 4px;
  margin: 0 auto !important;

  width: calc(100vw - 70vw) !important;
  height: 20vh !important;
  max-width: 70vw !important;

  position: absolute;
  top: -20vh;
  right: 0;

  
}

.OT_subscriber  {
  border-radius: 4px;
  margin: 0 auto !important;

  width: calc(100vw) !important;
  height: 100vh !important;

  position: absolute;
  top: 0;
  left: 0;
}

@media (min-width: 1366px) {
  
  .OT_publisher {
    width: 30vw !important;
    max-width: 70vw !important;
  }

  /* .OT_subscriber  {
    width: 30vw !important;
    max-width: 70vw !important;
  } */
}